body{
    background: url("https://user-images.githubusercontent.com/67185065/90961533-e76af400-e4d3-11ea-886b-e2481533b8ca.jpg");
}

a{
    color:#e11d74;
}

h1{
    color: #3b5249;
    font-size: 70px;
    font-style: italic;
}

hr{
    color: #ffd571;
}
