body{
    background: url("https://user-images.githubusercontent.com/67185065/90961445-4b40ed00-e4d3-11ea-90bc-479e29280f5e.jpg");
}

a{
    color:#e11d74;
}

h1{
    color: #3b5249;
    font-size: 70px;
    font-style: italic;
}

hr{
    color: #ffd571;
}
