body{
    background: url("https://user-images.githubusercontent.com/67185065/90961608-5a746a80-e4d4-11ea-9d0e-157e09fef4e7.jpg");
}

a{
    color:#e11d74;
}

h1{
    color: #3b5249;
    font-size: 70px;
    font-style: italic;
}

hr{
    color: #ffd571;
}
